/node_modules
/public/hot
/public/js
/public/mix-manifest.json
/public/themes/admin/css/main.css
/public/themes/admin/css/main.css.map
/public/themes/front/css/main.css
/public/themes/front/css/main.css.map
/public/themes/student/css/main.css
/public/themes/student/css/main.css.map
/public/storage
/storage/*.key
/vendor
.env
.idea
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
