
// FONT FAMILY
$font_roboto: 'Roboto', sans-serif;
$font_Lora: 'Lora', serif;
$font_Merriweather: 'Merriweather', serif;
$font_OpenSans: 'Open Sans', sans-serif;
$font_Crimson:  'Crimson Text', serif;;
// COLOR
$theme_color : #36496a;
$theme_color2 : #4265A1;
$main_bg: #f0f3fb;
$menu_bg: #1e1e2d;
$active_bg : #EBEDF2;
$color_main: #000;
$color_white: #ffffff;
$hover_color: #f0f1f7;
$disabled_color : #d0d0d0;
$color_success : #0abb87;
$color_success_hover : #08976d;
$color_warning : #eea200;
$color_warning_hover : #fbaa00;
$color_danger : #fc0758;
$color_danger_hover : #fd1361;
$color_black : #131628;
$color_black_hover : #000000;
$color_secondary : #E4E6EF;
$color_secondary_hover : #d7dae7;
$color_info : #8950FC;
$color_info_hover : #7337EE;
$btncolor : #002b5c;
$c_banner_bg : #50CDC7;
// FONT SIZE
$font_12px : 12px;
$font_14px : 14px;
$font_16px : 16px;

$border_color : #d8d6de;