.banner_area_v2 {
    position: relative;
    padding-bottom: 49%;
    #homeplayer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 2;
    }
}
.welcome_v2_section {
    margin-top: -80px;
    z-index: 3;
    position: relative;
    @include mobile {
        margin-top: -25px;
    }
    .welcome_inner {
        background: #fff;
        @include d_flex_center;
        flex-direction: column;
        border-radius: 5px;
        padding: 40px 20px;
        box-shadow: 0 40px 50px rgba(0, 10, 51,.10);
        @include transition;
        @include mobile {
            margin-bottom: 20px;
        }
        img {
            width: 50px;
        }
        h2 {
            font-size: 18px;
            text-align: center;
            padding: 20px 0px 10px;
            margin-bottom: 0;
        }
        &:hover {
            margin-top: -10px;
        }
    }
}

.home_news_v2 {
    padding: 50px 0px 40px;
    background: #F8F8FA;
    @include mobile {
        padding: 20px 0px;
    }
    .home_news_inner_wrap {
        background: #fff;
        margin-bottom: 15px;
        .home_news_inner {
            position: relative;
            padding-top: 400px;
            overflow: hidden;
            @include transition;
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            > span {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 16px;
                color: #fff;
                z-index: 3;
                transform : scale(1);
                @include transition;
                background: $theme_color;
                padding: 5px 7px;
                background: #36496a;
                padding: 4px 12px;
                z-index: 2;
            }
            img {
                max-width: none;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                border-radius: 0;
                transform: initial;
                display: initial;
                opacity: 1;
                width: 100%;
                height: 100%;
                transform: scale(1);
                @include transition;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0,0,.10);
                cursor: pointer;
                @include transition;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                    @include transition;
                }
                &:after {
                    background: rgba(0, 0, 0,.70);
                    @include transition;
                }
            }
        }
        .text {
            position: relative;
            color: #000!important;
            padding: 20px 10px;
            z-index: 3;
            h2 {
                font-size: 18px;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 5px;
            }
        }
    }
}

.home_department {
    padding: 50px 0px;
    @include mobile {
        padding: 30px 0px 20px;
    }
    .inner {
        position: relative;
        padding: 30px 20px;
        @include mobile {
            padding: 0px 20px;   
        }
        .text {
            padding: 15px 0px;
            flex-direction: column;
            color: #000;
            width: 100%;
            h2 {
                font-size: 20px;
                margin-bottom: 5px;
                text-align: center;
                color: #000;
            }
            p {
                margin-bottom: 5px;
                text-align: center;
                color: #000;
            }
        }
    }
    a {
        display: flex;
    }
}

.home_video_v2 {
    background: #F8F8FA;
    padding: 50px 0px;
    @include mobile {
        padding: 20px 0px;
    }
    .home_video_main_slide {
        margin-bottom: 30px;
    }
    .home_video_thumbnail_wrap {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 30px;
        @include mobile {
            width: 90%;
            padding-bottom: 10px;
        }
        .inner {
            position: relative;
            cursor: pointer;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                color: #fff;
                font-size: 20px;
            }
        }
        .slick-list {
            margin: 0px -5px;
        }
        .slick-slide {
            padding: 0px 5px;
        }
    }
}


.upcoming_event {
    padding: 50px 0px;
    @include mobile {
        padding: 20px 0px;
    }
    .upcoming_event_wrap {
        .inner {
            background: #F8F8FA;
            overflow: hidden;
            .img {
                position: relative;
                padding-top: 125px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            // &:hover {
            //     img {
            //         transform: scale(1.1);
            //         @include transition;
            //     }
            // }
            .text {
                padding: 15px;
                flex-direction: column;
                h2 {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: 5px;
                }
            }
        }
        .slick-list {
            margin: 0px -8px;
        }
        .slick-slide {
            padding: 0px 8px;
        }
    }
}

.home_social_area_v2 {
    padding: 50px 0px;
    @include mobile {
        padding: 20px 0px;
    }
    .home_social_wrap {
        display: flex;
        @include mobile {
            flex-direction: column;
        }
        img {
            width: 100%;
        }
        .left {
            width: 50%;
            position: relative;
            padding-right: 15px;
            @include mobile {
                width: 100%;
                padding: 0px 0px;
            }
            span {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 16px;
                color: #fff;
                z-index: 3;
                transform : scale(1);
                @include transition;
                background: $theme_color;
                padding: 5px 8px;
                background: #36496a;
                padding: 4px 12px;
                line-height: 0;
                &:hover {
                   transform : scale(1.1);
                }
            }
            .img {
                padding-top: 430px;
                position: relative;
                img {
                    max-width: none;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    transform: initial;
                    display: initial;
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .right {
            width: 50%;
            position: relative;
            @include mobile {
                padding: 10px 0px;
                width: calc(100% + 10px);
                display: flex;
                flex-wrap: wrap;
                margin-left: -5px;
                margin-right: -5px;
            }
            .content {
                position: absolute;
                height: 50%;
                width: 100%;
                @include mobile{
                    position: relative;
                    padding: 5px;
                }
                span {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-size: 16px;
                    color: #fff;
                    z-index: 3;
                    transform : scale(1);
                    @include transition;
                    background: $theme_color;
                    padding: 5px 8px;
                    background: #36496a;
                    padding: 4px 12px;
                    line-height: 0;
                    &:hover {
                       transform : scale(1.1);
                    }
                }
                .img {
                    padding-top: 207.50px;
                    position: relative;
                    @include mobile {
                        padding-top: 430px;
                    }
                    img {
                        max-width: none;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                        transform: initial;
                        display: initial;
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(1){
                    left: 0;
                    top: 0;
                    padding-bottom: 7.5px;
                }
                // &:nth-of-type(2){
                //     right: 0;
                //     top: 0;
                // }
                &:nth-of-type(2){
                    left: 0;
                    bottom: 0;
                    padding-top: 7.5px;
                }
                &:nth-of-type(4){
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}


.home_statistics_v2 {
    margin: 40px 0px 60px;
    padding: 200px 0px;
    background: url(../../media/images/home-hero-bg1.jpg);
    @include belowIpadpro {
        padding: 40px 0px;
        margin: 0;
    }
    .statistics_inner {
        @include belowIpadpro {
            display: flex;
            flex-direction: column;
        }
        .text {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @include belowIpadpro {
                position: relative;
                top: auto;
                transform: none;
                margin-bottom: 30px;
                text-align: center;
            }
            span {
               color: $btncolor;
            }
            h2 {
                // font-size: 18px;
                margin-bottom: 0;
                padding: 5px 0px;
                @include mobile {
                    font-size: 25px;
                }
            }
        }
        .icon_wrap {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            width: 60%;
            @include belowIpadpro {
                position: relative;
                transform: none;
                width: 100%;
                top: auto;
            }
            @include mobile {
                flex-direction: column;
            }
            .inner {
                width: 33.3333%;
                @include d_flex_center;
                flex-direction: column;
                padding: 40px 20px;
                background: #fff;
                border-radius: 5px;
                margin-left: 30px;
                @include belowIpadpro {
                    margin-left: auto;
                    margin: 0px 15px;
                    margin-bottom: 20px;
                }
                @include mobile {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 20px;
                }
                img {
                    width: 60px;
                    margin-bottom: 10px;
                }
                h2 {
                    margin-bottom: 0;
                    padding: 5px 0px;
                    @include mobile {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.home_events_v2 {
    margin: 40px 0px 0px;
    padding: 250px 0px;
    background: url(../../media/images/home-video-1.png);
    background-repeat:  no-repeat;
    background-size: cover;
    position: relative;
    background-position: top;
    @include belowIpadpro {
        padding: 40px 0px;
    }
    @include mobile {
        margin: 0;
    }
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.7);
    }
    .events_inner {
        position: relative;
        z-index: 2;
        @include belowIpadpro {
            display: flex;
            flex-direction: column;
        }
        .text {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            @include belowIpadpro {
                position: relative;
                transform: none;
                top: auto;
                margin-bottom: 30px;
                text-align: center;
            }
            span {
               color: #fff;
            }
            h2 {
                // font-size: 18px;
                margin-bottom: 0;
                padding: 5px 0px;
                @include mobile {
                    font-size: 25px;
                }
            }
        }
        .icon_wrap {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 60%;
            @include belowIpadpro {
                position: relative;
                transform: none;
                top: auto;
                width: 100%;

            }
            .inner {
                width: 100%;
                padding: 20px;
                background: #fff;
                border-radius: 5px;
                margin-bottom: 30px;
                display: flex;
                position: relative;
                padding-left: 115px;
                font-family: $font_OpenSans;
                .calender {
                    position: absolute;
                    background: $theme_color;
                    left: 0;
                    top: 0;
                    width: 100px;
                    height: 100%;
                    @include d_flex_center;
                    color: #fff;
                    flex-direction: column;
                    span {}
                    h2 {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 0;
                        @include mobile {
                            font-size: 25px;
                        }
                    }
                }
                .event_text {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    @include belowIpadpro {
                        flex-direction: column;
                    }
                    > div {
                        padding-right: 20px;
                        flex: 1;
                        white-space: nowrap;
                        @include belowIpadpro {
                            margin-top: 15px;
                        }
                        &:last-child {
                            padding-right: 0;
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            @include belowIpadpro {
                                display: none;
                            }
                        }
                    }
                    .time {
                        margin-right: 40px;
                        @include mobile {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}




.home_v2_video {

}


