.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    text-transform: capitalize;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 14px;
    
    &:hover {
        transition: all .3s;
    }
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:disabled {
        outline: 0;
        box-shadow: none;
        background: $disabled_color!important;
        border-color: $disabled_color!important;
        cursor: not-allowed;
    }
}
button , a {
    &:disabled {
        opacity: .4;
        cursor: not-allowed;
    }
} 
button:focus {
    outline: 0;
    box-shadow: none;
}
.btn_info {
    background: $color_info;
    border-color: $color_info;
    color: $color_white;
    &:hover {
        background: $color_info_hover;
        color: $color_white;
        box-shadow: 0 8px 25px -8px $color_info_hover;
    }
}
.btn_blue {
    background: $color_info;
    border-color: $color_info;
    color: $color_white;
    &:hover {
        background: $color_info_hover;
        color: $color_white;
        box-shadow: 0 8px 25px -8px $color_info_hover;
    }
}
.btn_secondary {
    background: $color_secondary;
    border-color: $color_secondary;
    color: $color_white;
    &:hover {
        background: $color_secondary_hover;
        color: $color_white;
        box-shadow: 0 8px 25px -8px $color_secondary_hover;
    }
}
.btn_success {
    background: $color_success;
    border-color: $color_success;
    color: $color_white;
    &:hover {
        background: $color_success_hover;
        color: $color_white;
        box-shadow: 0 8px 25px -8px $color_success_hover;
    }
}
.btn_warning {
    background: $color_warning;
    border-color: $color_warning;
    color: $color_white;
    &:hover {
        background: $color_warning_hover;
        color: $color_white;
        box-shadow: 0 8px 25px -8px $color_warning_hover;
    }
}
.btn_danger {
    background: $color_danger;
    border-color: $color_danger;
    color: $color_white;
    &:hover {
        background: $color_danger_hover;
        color: $color_white;
        box-shadow: 0 8px 25px -8px $color_danger_hover;
    }
}
.btn_sm {
    padding: 3px 8px;
    font-size: 12px;
}
.btn_md {
    padding: 5px 12px;
    font-size: 14px;
}
.btn_lg {
    padding: 10px 15px;
    font-size: 16px;
}
.btn_xl {
    padding: 15px 30px;
    font-size: 20px;
}