/*----------------------------
    COMMON  COLOR
----------------------------*/
.active_bg {
    background: $active_bg!important;
}
.white_bg {
    background: $color_white!important;
}
.black_bg {
    background: $color_black!important;
}
.info_bg  {
    background: $color_info!important;
}
.warning_bg {
    background: $color_warning!important;
}
.danger_bg {
    background: $color_danger!important;
}
.secondary_bg {
    background: $color_secondary!important;
}
.transparent_bg {
    background: transparent!important;
}

.color_white {
    color: $color_white!important;
}
.color_success {
    color: $color_success!important;
}
.color_warning {
    color: $color_warning!important;
}
.color_danger {
    color: $color_danger!important;
}
