
// FONT FAMILY
$font_roboto: 'Roboto', sans-serif;

// COLOR
$color_info : #36496A;
$color_info_hover : #364561;
$color_success : #28c76f;
$color_success_hover : #28c76f;
$color_warning : #ff9f43;
$color_warning_hover : #ff8b1d;
$color_danger : #ea5455;
$color_danger_hover : #e63233;
$color_black : #131628;
$color_black_hover : #000000;
$color_secondary : #696d71;
$color_secondary_hover : #6f7378;

$color_main: #6e6b7b;
$color_white: #ffffff;
// COLOR
$main_bg: #f8f8f8;
$nav_bg: $color_white;
$menu_bg: #1e1e2d;
$active_bg : #EBEDF2;
$dropdown_bg : $color_info;

$hover_color: #f0f1f7;
$disabled_color : #d0d0d0;


// FONT SIZE
$font_12px : 12px;
$font_14px : 14px;
$font_16px : 16px;
$border_color : #ddd;
// FONT SIZE
$font_12px : 12px;
$font_14px : 14px;
$font_16px : 16px;